<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= page_title %>
    </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">


</head>

<body>

    <div class="container-fluid">
        <div class="row text-center navbar navbar-default">
            <div class="col-md-12">
                <h1>Attendance App</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <form method="POST" action="/attendance">
                    <input type="text" name="nameInput" placeholder="Enter name of student" class="input"><br />
                    <input type="submit" value="Submit" class="btn">
                </form>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-md-12">

                <table>
                    <tr class="heading">
                        <td>Student Name</td>
                        <td>Attendance Count</td>
                    </tr>
                    <% for(var i=0; i < numberOfStudents; i++) { %>
                        <tr class="table_body">
                            <td>
                                <%= students[i].name %>
                            </td>
                            <td>
                                <%= students[i].attendanceCount %>
                            </td>
                        </tr>
                        <% } %>
                </table>

            </div>
        </div>


    </div>
</body>

</html>
